.my-footer {
    background-color: #163b65;
    margin-top: 2em;
    padding: 1em 1em 0 1em;
    color: #FFFFFF;
    font-size: 80%;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}