{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-2">About Fort Smythe</h1>
                <hr>
                <img class="float-end m-2" float="right" width="auto" height="200px" src="/static/images/outside.png">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus congue semper. Mauris luctus bibendum ex in consectetur. Curabitur finibus mauris at justo rhoncus, sit amet consectetur dolor dictum. Suspendisse efficitur odio et est commodo, a tincidunt nisl condimentum. Nullam fermentum lacus non posuere pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi condimentum dolor justo, nec hendrerit elit sagittis ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ullamcorper sapien a mi accumsan, at imperdiet neque fermentum. Sed cursus at dui nec egestas. Vivamus metus risus, venenatis in odio non, commodo eleifend nulla.
                </p>
                <p>
                    Donec vitae eros ac nisl fringilla hendrerit. In hac habitasse platea dictumst. Aliquam erat volutpat. Suspendisse ullamcorper risus in dolor pretium, ac mattis lacus maximus. Ut vehicula, lectus nec lobortis elementum, dui ex finibus magna, vitae fringilla risus risus a libero. Nullam lobortis efficitur sagittis. Nulla ullamcorper tortor at dapibus sodales. Duis mi mi, porta id urna et, consectetur venenatis ipsum. Sed varius elit purus, sit amet vestibulum ex vehicula nec. Vestibulum pellentesque elementum lorem et mollis. 
                </p>

                <p>
                    Aliquam ut tincidunt quam. Fusce vulputate semper ullamcorper. Maecenas tortor lectus, volutpat vel eleifend ut, rutrum viverra lacus. Vivamus consequat lorem mi, et facilisis eros consectetur et. Duis molestie porta justo quis vestibulum. Cras at augue a dolor pretium egestas. Aenean lacus risus, sollicitudin vel lacinia euismod, efficitur quis tellus. Integer molestie malesuada augue quis consequat.
                </p>

                <p>
                    Quisque id consequat mauris. Suspendisse vel quam in risus dictum laoreet. Nunc porttitor ante non quam placerat, vulputate tincidunt est tempor. Etiam ultricies, lorem in varius sodales, dui massa pretium nulla, a lacinia enim turpis eget erat. Cras convallis ac lacus nec viverra. Quisque volutpat purus dui, non ultricies magna pretium sit amet. Nunc vel vehicula quam, ac consectetur purus. Etiam in hendrerit nulla. Donec orci augue, gravida id sollicitudin nec, viverra id nibh. Morbi aliquet arcu in lacus consectetur tincidunt. Nam sagittis blandit ligula, sed finibus sapien pharetra nec. Nunc interdum fringilla arcu et posuere.
                </p>
            </div>
        </div>
    </div>
{{end}}