{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-2">Contact</h1>
                <hr>
                <div class="row">
                    <p class="text-center">
                        <strong>Fort Smythe Bed & Breakfast</strong><br>
                        100 Rocky Road <br>
                        Northbrook, Ontario <br>
                        Canada <br>
                        (416) 555-1212 <br>
                        <a href="#">info@bk.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{{end}}