{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row>
            <div class="col>
                <h1>Home page!</h1>
                <p>Greetings, dear client!</p>
                <p>Go to <a href="/about">About page</a>.
            </div>
        </div>
    </div>
{{end}}