{{template "base" .}}

{{define "content"}}
<!-- Page Content - container -->
    <div class="container">

      <div class="row">
        <div class="col">
          <img src="/static/images/majors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
        </div>       
      </div>

      <div class="row">
        <div class="col">
          <h1 class="text-center mt-4">Major's Suite</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus congue semper. Mauris luctus bibendum ex in consectetur. Curabitur finibus mauris at justo rhoncus, sit amet consectetur dolor dictum. Suspendisse efficitur odio et est commodo, a tincidunt nisl condimentum. Nullam fermentum lacus non posuere pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi condimentum dolor justo, nec hendrerit elit sagittis ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ullamcorper sapien a mi accumsan, at imperdiet neque fermentum. Sed cursus at dui nec egestas. Vivamus metus risus, venenatis in odio non, commodo eleifend nulla.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <button type="button" id="check-availability-btn" class="btn btn-success">Check Availability</button>
        </div>
      </div>

    </div>
{{end}}

{{define "js"}}
<script src="/static/js/check-availability.js"></script>
<script>
  checkAvailibility("2", "{{.CSRFToken}}")
</script>
{{end}}