{{template "base" .}}

{{define "content"}}
    <!-- Page Content - container -->
    <div class="container">

      <div class="row">
        <div class="row">
          <div class="col">
            <h1>Make Reservation</h1>
            <p>Reservation Details</p>
            {{$res := index .Data "reservation"}}
            <form method="post" action="/make-reservation" class="" novalidate>
              <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

              <div class="form-group mt-3">
                <label for="first_name">First name:</label>
                {{with .Form.Errors.Get "first_name"}}
                  <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" type="text" name="first_name" id="first_name" autocomplete="off" value="{{$res.FirstName}}" required>
              </div>

              <div class="form-group mt-1">
                <label for="last_name">Last name:</label>
                {{with .Form.Errors.Get "last_name"}}
                  <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" type="text" name="last_name" id="last_name" autocomplete="off" value="{{$res.LastName}}" required>
              </div>


              <div class="form-group mt-1">
                <label for="start_date">Start Date:</label>
                <input class="form-control" type="text" name="start_date" id="start_date" autocomplete="off">
              </div>

              <div class="form-group mt-1">
                <label for="end_date">End Date:</label>
                <input class="form-control" type="text" name="end_date" id="end_date" autocomplete="off">
              </div>

              <input type="hidden" name="room_id" value="1">


              <div class="form-group mt-1">
                <label for="email">Email:</label>
                {{with .Form.Errors.Get "email"}}
                  <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" type="text" name="email" id="email" autocomplete="off" value="{{$res.Email}}" required>
              </div>

              <div class="form-group mt-1">
                <label for="phone">Phone number:</label>
                {{with .Form.Errors.Get "phone"}}
                  <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" type="text" name="phone" id="phone" autocomplete="off" value="{{$res.Phone}}" required>
              </div>

              <hr>

              <input type="submit" class="btn btn-primary" value="Make Reservation">

            </form>
          </div>
        </div>
      </div>

    </div>
{{end}}